.label {
  margin-bottom: 5px;
  display: block;

  font-weight: 500;
  color: #000;
}

.inputWrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 14px;
  color: #000;

  background-color: #fff;

}

.input:focus {
  border-color: #007bff;
  

  background-color: #fff;
  outline: none;
}

.dateInput {
  cursor: pointer;
  padding-right: 40px;
}

.dateContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  pointer-events: none;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

#amount {
  background-color: #fff;
}
