.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.header img {
  height: 50px;
  margin-right: 15px;
}

.header h1 {
  margin: 0;
  font-size: 26px;
  color: #2c3e50;
}
